.header-container {
  position: relative;
  background-color: $color-header-bg !important;
  .navbar-brand {
    color: $color-header-text;
  }
  .logo {
    height: 40px;
  }
  .logo img {
    height: 40px;
    object-fit: contain;
    border-radius: 4px;
    margin: 0px 10px;
  }
  .nav-item .dropdown-menu {
    background: $color-header-bg;
  }
  .nav-item .nav-link,
  .nav-item .dropdown-item {
    color: $color-header-text !important;
  }
  .nav-item .dropdown-item:hover {
    background: $color-secondary !important;
  }
  .dropdown-divider {
    border-top: 1px solid $color-secondary-light;
  }
  .dropdown-menu {
    right: 0px;
  }
}
